@import url("https://fonts.googleapis.com/css?family=Montserrat:100,900i");
body {
  margin: auto;
}

header {
  font-family: "Montserrat";
  background-color: #579c87;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 90px;
}

header h1 {
  color: #fdcb46;
  font-size: 2em;
  font-weight: bold;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

main {
  background-color: #ffffff;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 40px;
}

section {
  width: 240px;
  height: 290px;
  border: 2px solid rgba(64, 64, 64, 0.2);
  box-shadow: 0 5px rgba(64, 64, 64, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

.menu {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.menu1, .menu1 a, #page1 {
  background-color: #fcdfdb;
  color: #3c1218;
}

.menu2, .menu2 a, #page2 {
  background-color: #fff5fe;
  color: #c77412;
}

#color2 {
  color: #a56799;
}

#color3 {
  color: #6e4ccc;
}

.menu3, .menu3 a, #page3 {
  background-color: #f9f9f9;
  color: #2b91f8;
}

#menu3_color, #menu4_color {
  color: #000000;
}

.menu4, .menu4 a, #page4 {
  background-color: #fdfffd;
  color: #72bf56;
}

#page5 {
  background-color: gainsboro;
  color: #3c1218;
  padding: 20px;
}

#page5 a {
  color: #579c87;
}

.title {
  border: none;
  box-shadow: none;
  width: auto;
  height: auto;
}

.carte {
  margin: auto auto 30px auto;
  height: auto;
  width: 80%;
}

.bottom_title {
  display: flex;
  justify-content: center;
}

.bottom_title span {
  margin: auto 15px auto 0px;
  height: 35px;
  width: 35px;
}

#page1, #page2, #page3, #page4 {
  padding: 30px 100px 30px 100px;
}

.dish {
  display: flex;
  justify-content: space-between;
}

aside {
  background-color: #579c87;
  color: #fdcb46;
  width: 264px;
  height: 44px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}

aside h2 {
  color: #fdcb46;
  text-align: center;
}

/* loading dots */
.loading:after {
  content: ' .';
  animation: dots 2s backwards infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: #fdcb46;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 #fdcb46, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%, 100% {
    text-shadow: 0.25em 0 0 #fdcb46, 0.5em 0 0 #fdcb46;
  }
}

footer {
  margin: auto;
  height: 70px;
  font-family: "Montserrat";
  background-color: #579c87;
  color: #fdcb46;
  display: flex;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
  text-align: center;
}

.contact {
  padding: 0px 30px 0px 30px;
}

.anim:hover {
  animation: headshake 150ms cubic-bezier(0.4, 0.1, 0.6, 0.9) 2;
}

@keyframes headshake {
  25% {
    transform: translateX(5%);
  }
  75% {
    transform: translateX(-5%);
  }
}

a {
  color: #fdcb46;
  text-decoration: none;
}

.icon_music {
  font-size: 2em;
  background-image: linear-gradient(120deg, #f36d68 55%, #f78f6a 45%);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.degrade1 {
  background-image: linear-gradient(20deg, #c77412 30%, #905bfd 70%);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.degrade2 {
  background-image: linear-gradient(20deg, #0431df 30%, #518cf0 50%, #0887fb 20%);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.degrade3 {
  background-image: linear-gradient(20deg, #3d9339, #bfff7e);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media all and (max-width: 680px) {
  .menu {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  #page1, #page2, #page3, #page4 {
    padding: 5px;
  }
  .dish {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .price {
    font-weight: bold;
  }
  aside {
    margin-top: 30px;
  }
  footer {
    margin: 0px;
    display: flex;
    justify-content: space-around;
    position: sticky;
    font-size: 0.9em;
    padding-bottom: 15px;
  }
}
/*# sourceMappingURL=index.css.map */