body {
  margin: auto;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.5em;
  font-weight: normal;
}

header {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  background-color: #579c87;
  text-align: center;
  height: 90px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header h1 {
  color: #fdcb46;
  font-size: 2em;
  font-weight: bold;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

main {
  background-color: #ffffff;
  margin: auto;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

section {
  width: 260px;
  height: 320px;
  margin: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 10px #bbba;
  -webkit-box-shadow: 0 0 10px #bbba;
}

.menu {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.menu h2 {
  font-size: 2em;
}

.menu h3 {
  font-size: 1.7em;
}

.menu1, .menu1 a, #page1 {
  background-color: #fcdfdb;
  color: #3c1218;
  font-family: "Kalam", cursive;
  font-weight: lighter;
}

.font1 {
  font-family: "Devonshire", cursive;
}

.menu2, .menu2 a, #page2 {
  background-color: #fff5fe;
  color: #c77412;
  font-family: "Source Serif Pro", serif;
  font-weight: 100;
}

#color2 {
  color: #a56799;
}

#color3 {
  color: #6e4ccc;
}

.menu3, .menu3 a, #page3 {
  background-color: #f9f9f9;
  color: #2b91f8;
  font-family: "Kalam", cursive;
}

.menu3 h2, .menu4 h2 {
  font-weight: 300;
}

#menu3_color, #menu4_color {
  color: #000000;
}

.menu4, .menu4 a, #page4 {
  background-color: #fdfffd;
  color: #72bf56;
  font-family: "Kalam", cursive;
}

#page5 {
  background-color: gainsboro;
  color: #3c1218;
  padding: 20px;
}

#page5 a {
  color: #579c87;
}

.title {
  border: none;
  box-shadow: none;
  width: auto;
  height: auto;
}

.carte {
  margin: auto auto 30px auto;
  height: auto;
  width: 80%;
}

.bottom_title {
  display: flex;
  justify-content: center;
}

.bottom_title span {
  margin: auto 15px auto 0px;
  height: 35px;
  width: 35px;
}

#page1, #page2, #page3, #page4 {
  padding: 30px 100px 30px 100px;
}

#page1 h2, #page3 h2, #page4 h2 {
  font-weight: 400;
}

.dish {
  display: flex;
  justify-content: space-between;
}

#page1 .price {
  font-weight: bold;
}

aside {
  background-color: #579c87;
  color: #fdcb46;
  width: 264px;
  height: 44px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

aside h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  text-align: center;
}

.loading:after {
  content: ' .';
  animation: dots 2s backwards infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: #fdcb46;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 #fdcb46, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%, 100% {
    text-shadow: 0.25em 0 0 #fdcb46, 0.5em 0 0 #fdcb46;
  }
}

footer {
  margin: auto;
  height: 60px;
  background-color: #579c87;
  color: #fdcb46;
  position: sticky;
  bottom: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

footer h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  padding: auto;
}

.contact {
  padding: 0px 30px 0px 30px;
}

.anim:hover {
  animation: headshake 150ms cubic-bezier(0.4, 0.1, 0.6, 0.9) 2;
}

@keyframes headshake {
  25% {
    transform: translateX(5%);
  }
  75% {
    transform: translateX(-5%);
  }
}

a {
  color: #fdcb46;
  text-decoration: none;
}

.icon_music .fas {
  font-size: 2em;
  display: inline-block;
  padding: 5px;
  background-image: linear-gradient(0.25turn, #f04a5e, #f78f6a);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.zoom {
  transform: scale(0.8);
  transition: transform 300ms ease-in-out;
  opacity: 1;
}

.zoom:hover {
  transform: scale(1);
  opacity: 0.3;
}

.degrade1 {
  font-family: "Kurale", serif;
  background-image: linear-gradient(0.25turn, #c77412 30%, #905bfd 70%);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.degrade2 {
  font-family: "Dancing Script", cursive;
  background-image: linear-gradient(0.25turn, #0431df 30%, #518cf0 50%, #0887fb 20%);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.degrade3 {
  font-family: "Kaushan Script", cursive;
  background-image: linear-gradient(0.25turn, #3d9339, #bfff7e);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border1 {
  color: #3c1218;
  display: inline-block;
  text-decoration: none;
  background: linear-gradient(to top, #3c1218 0%, #3c1218 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size .5s;
}

.border1:hover {
  background-size: 100% 100%;
}

#border2 {
  color: #c77412;
  display: inline-block;
  text-decoration: none;
  background: linear-gradient(to top, #c77412 0%, #c77412 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size .5s;
}

#border2:hover {
  background-size: 100% 100%;
}

#border3 {
  color: #a56799;
  display: inline-block;
  text-decoration: none;
  background: linear-gradient(to top, #a56799 0%, #a56799 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size .5s;
}

#border3:hover {
  background-size: 100% 100%;
}

#border4 {
  color: #6e4ccc;
  display: inline-block;
  text-decoration: none;
  background: linear-gradient(to top, #6e4ccc 0%, #6e4ccc 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size .5s;
}

#border4:hover {
  background-size: 100% 100%;
}

.border5 {
  color: black;
  display: inline-block;
  text-decoration: none;
  background: linear-gradient(to top, black 0%, black 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size .5s;
}

.border5:hover {
  background-size: 100% 100%;
}

@media all and (max-width: 680px) {
  .menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
  }
  #page1, #page2, #page3, #page4 {
    padding: 5px;
  }
  .dish {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .price {
    font-weight: bold;
  }
  aside {
    margin-top: 30px;
  }
  footer {
    margin: 0px;
    display: flex;
    justify-content: space-around;
    position: sticky;
    font-size: 0.9em;
    padding-bottom: 15px;
  }
}
/*# sourceMappingURL=index.css.map */