// font
$main_font: 'Montserrat', sans-serif;
$first_font: 'Devonshire', cursive;
$second_font: 'Kalam', cursive;
$third_font: 'Source Serif Pro', serif;
$fourth_font: 'Kurale', serif;
$fifth_font: "Dancing Script", cursive;
$sixth_font: 'Kaushan Script', cursive;

// colors
// backgrounds colors
$primary_color: #579c87;
$secondary_color: #ffffff;
$third_color: #fcdfdb;
$fouth_color: #fff5fe;
$fifth_color: #f9f9f9;
$sixt_color: #fdfffd;

// fonts colors
$logo_color: #fdcb46;
$first_menu: #3c1218;
$second_menu: #c77412;
$third_menu: #2b91f8;
$fourth_menu: #72bf56;

//menu color
$background_color: (menu1:$third_color, menu2:$fouth_color, menu3:$fifth_color, menu4:$sixt_color);

// icon colors
$first_note_color: #f36d68;
$second_note_color: #f78f6a;

//animation
$shake-intensity: 5%;

body
{
    margin: auto;
}

h2
{
    font-size: 2em;
}

h3
{
    font-size: 1.5em;
    font-weight: normal;
}

// header
header
{
    font-family: $main_font;
    font-size: 1.3em;
    background-color: $primary_color;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 90px;
}

header h1
{
    color: $logo_color;
    font-size: 2em;
    font-weight: bold;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

//main
main
{
    background-color: $secondary_color;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;
}

//section page d'accueil
section
{
    width: 240px;
    height: 290px;
    box-shadow: 0 0 10px #bbba;
    -webkit-box-shadow: 0 0 10px #bbba;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.menu
{
    display:flex;
    justify-content: center;
    margin: 30px;
}

// Menu 1
.menu1, .menu1 a, #page1
{
    background-color: $third_color;
    color: $first_menu;
    font-family: $second_font;
    font-weight: lighter;
}

.font1
{
    font-family: $first_font;
}

// Menu 2
.menu2, .menu2 a, #page2
{
    background-color: $fouth_color;
    color: $second_menu;
    font-family: $third_font;
    font-weight: 100;
}

#color2
{
    color: #a56799;
}

#color3
{
    color: #6e4ccc;
}

// Menu 3
.menu3, .menu3 a, #page3
{
    background-color: $fifth_color;
    color: $third_menu;
    font-family: $second_font;
    
}

.menu3 h2, .menu4 h2
{
    font-weight: 300;
}

#menu3_color, #menu4_color
{
    color: #000000;
}

// Menu 4
.menu4, .menu4 a, #page4
{
    background-color: $sixt_color;
    color: $fourth_menu;
    font-family: $second_font;
}

#page5
{
    background-color: gainsboro;
    color: $first_menu;
    padding: 20px;
}

#page5 a
{
    color: $primary_color;
}

// sections des menu
.title
{
    border: none;
    box-shadow: none;
    width: auto;
    height: auto;
}

.carte
{
    margin: auto auto 30px auto;
    height: auto;
    width: 80%;
}

.bottom_title
{
    display: flex;
    justify-content: center;
}

.bottom_title span
{
    margin: auto 15px auto 0px;
    height: 35px;
    width: 35px;
}

// pages menu
#page1, #page2, #page3, #page4
{
    padding: 30px 100px 30px 100px;
}

.dish
{
    display: flex;
	justify-content: space-between;
}

.price
{
    font-weight: bold;
}

//aside
aside
{
    
    background-color: $primary_color;
    color: $logo_color;
    width: 264px;
    height: 44px;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}

aside h2
{
    font-family: $main_font;
    font-weight: 400;
    font-size: 1.2em;
    text-align: center;
}

  /* loading dots */

.loading:after 
{
    content: ' .';
    animation: dots 2s backwards infinite;
}
  
@keyframes dots 
{
    0%, 20% 
    {
    color: rgba(0,0,0,0);
    text-shadow:
    .25em 0 0 rgba(0,0,0,0),
    .5em 0 0 rgba(0,0,0,0);
    }

    40% 
    {
      color: $logo_color;
      text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);
    }

    60% {
      text-shadow:
        .25em 0 0 $logo_color,
        .5em 0 0 rgba(0,0,0,0);
    }

    80%, 100% {
      text-shadow:
        .25em 0 0 $logo_color,
        .5em 0 0 $logo_color;
    }
}
  
// footer
footer
{
    margin: auto;
    height: 60px;
    background-color: $primary_color;
    color: $logo_color;
    display: flex;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    text-align: center;
}

footer h2
{
    font-family: $main_font;
    font-size: 1.2em;
    font-weight: 500;
    padding: auto;
}

.contact
{
    padding: 0px 30px 0px 30px;
}

.anim {
        &:hover
        {
            animation: headshake 150ms cubic-bezier(.4,.1,.6,.9) 2;
        }
}

@keyframes headshake 
{
    25% {
        transform: translateX($shake-intensity);
    }
    75% {
        transform: translateX($shake-intensity * -1);
    }
}

a
{
    color: $logo_color;
    text-decoration: none;
}

// icon
.icon_music
{
    font-size: 2em;
    display: inline-block;
    background-image: linear-gradient(0.25turn, #f04a5e, #f78f6a);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
     
// Dégradé couleur
.degrade1
{
    font-family: $fourth_font;
    background-image: linear-gradient(0.25turn, $second_menu 30%, #905bfd 70%);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.degrade2
{
    font-family: $fifth_font;
    background-image: linear-gradient(0.25turn, #0431df 30%, #518cf0 50%, #0887fb 20%);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.degrade3
{
    font-family: $sixth_font;
    background-image: linear-gradient(0.25turn, #3d9339, #bfff7e);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// responsive
@media all and (max-width: 680px)
{
    .menu
    {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    #page1, #page2, #page3, #page4
    {
        padding: 5px;
    }

        .dish
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .price
    {
        font-weight: bold;
    }

    aside
    {
        margin-top: 30px;
    }

    footer
    {
        margin: 0px;
        display: flex;
        justify-content: space-around;
        position: sticky;
        font-size: 0.9em;
        padding-bottom: 15px;
    }
}
