// font
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,900i');

$first_font: 'Montserrat';

// colors
// backgrounds colors
$primary_color: #579c87;
$secondary_color: #ffffff;
$third_color: #fcdfdb;
$fouth_color: #fff5fe;
$fifth_color: #f9f9f9;
$sixt_color: #fdfffd;

// fonts colors
$logo_color: #fdcb46;
$first_menu: #3c1218;
$second_menu: #c77412;
$third_menu: #2b91f8;
$fourth_menu: #72bf56;

//menu color
$background_color: (menu1:$third_color, menu2:$fouth_color, menu3:$fifth_color, menu4:$sixt_color);

// icon colors
$first_note_color: #f36d68;
$second_note_color: #f78f6a;

//animation
$anim-dur: 1000ms;
$anim-delay: 200ms;
$shake-intensity: 5%;

body
{
    margin: auto;
}

// header
header
{
    font-family: $first_font;
    background-color: $primary_color;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 120px;
}

header h1
{
    color: $logo_color;
    font-size: 2em;
    font-weight: bold;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

//main
main
{
    background-color: $secondary_color;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
}

//section page d'accueil
section
{
    width: 240px;
    height: 290px;
    border: 2px solid rgba(64, 64, 64, 0.2);
    box-shadow: 0 5px rgba(64, 64, 64, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
}

.menu
{
    display:flex;
    justify-content: center;
    margin: 30px;
}

.menu1, .menu1 a
{
    background-color: $third_color;
    color: $first_menu;
    
}

.menu2, .menu2 a
{
    background-color: $fouth_color;
    color: $second_menu;
}

.menu3, .menu3 a
{
    background-color: $fifth_color;
    color: $third_menu;
}

.menu4, .menu4 a
{
    background-color: $sixt_color;
    color: $fourth_menu;
}

#menu5
{
    background-color: gainsboro;
    color: $first_menu;
    padding: 20px;
}

#menu5 a
{
    color: $primary_color;
}

// sections des menu
.title
{
    border: none;
    box-shadow: none;
    width: auto;
    height: auto;
}

.carte
{
    margin: auto auto 30px auto;
    height: auto;
    width: 80%;
}

.bottom_title
{
    display: flex;
    justify-content: center;
}

//aside
aside
{
    background-color: $primary_color;
    color: $logo_color;
    width: 264px;
    height: 44px;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}

aside h2
{
    color:  $logo_color;
    text-align: center;
}

  /* loading dots */
  
.loading:after 
{
    content: ' .';
    animation: dots 2s backwards infinite;
}
  
  @keyframes dots 
  {
    0%, 20% 
    {
      color: rgba(0,0,0,0);
      text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);
    }

    40% 
    {
      color: $logo_color;
      text-shadow:
        .25em 0 0 rgba(0,0,0,0),
        .5em 0 0 rgba(0,0,0,0);
    }

    60% {
      text-shadow:
        .25em 0 0 $logo_color,
        .5em 0 0 rgba(0,0,0,0);
    }

    80%, 100% {
      text-shadow:
        .25em 0 0 $logo_color,
        .5em 0 0 $logo_color;
    }
}
  
// footer
footer
{
    margin: auto;
    height: 90px;
    font-family: $first_font;
    background-color: $primary_color;
    color: $logo_color;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.contact
{
    padding: 15px;
}

.anim {
    &__group{
        &:hover
        {
            animation: headshake 150ms cubic-bezier(.4,.1,.6,.9) 2;
        }
    }
}

@keyframes headshake 
{
    25% {
        transform: translateX($shake-intensity);
    }
    75% {
        transform: translateX($shake-intensity * -1);
    }
}

a
{
    color: $logo_color;
    text-decoration: none;
}

// icon
.icon_music
{
    width: 50px;
    height: 50px;
    font-size: 2em;
    color: $first_note_color; 
}

