@import "./utils/_variables.scss";
@import "./utils/_mixins.scss";
@import "./utils/_keyframes.scss";
@import "./utils/_responsive.scss";

/* éléments relatif à l'ensemble des pages */
/* styles généraux */
body
{
    margin: auto;
}

h1
{
    font-size: 2.5em;
}

h2
{
    font-size: 1.7em;
}

h3
{
    font-size: 1.5em;
    font-weight: normal;
}

/* header */
header
{
    @include header;
    @include flex_column;

    h1
    {
        @include header_h1;
        @include flex_center;
    }
}

/* footer */
footer
{
    @include footer;
    @include flex_space_between;

    h2 
    {
        @include footer_h2;
    }

    .contact
    {
        padding: 0px 30px 0px 30px;
    }
}

/* animations footer */
.anim 
{  
    &:hover
    {
        animation: wiggle 150ms infinite ease-in-out; 
        
    }
}

/* éléments page d'accueil */
/* éléments généraux */
a
{
    @include a_style;
    @include flex_column;
}

/* main */
main
{
    @include main;
    @include flex_column;
}

.menu
{
    @include flex_center;
    margin: 30px;

    h2 
    {
        font-size: 2.3em;
    }

    h3 
    {
        font-size: 1.9em;
    }
}

/* section */
section
{
    @include section;
    @include flex_column;
    box-shadow: $box_shadow;
}

/* Animation zoom */
.zoom 
{
    transform: scale(0.8);
    opacity: 1;
    transition: transform 300ms ease-in-out;
    &:hover 
    {
        transform: scale(1);
        opacity: 0.3;
    }
}

/* Menu 1 */
.menu1
{
    @include menu1;

    a
    {
        @include menu1;
    }

    .font1
    {
        font-family: $first_font;
    }
}

/* icon */
.icon_music
{
    .fas
    {
        @include icon_music;
        @include icon_degraded;
        background-image: linear-gradient(0.25turn, $first_note_color, $second_note_color);
    }
}

/* Menu 2 */
.menu2
{
    @include menu2;

    a 
    {
        @include menu2;
    }
}

/* Menu 3 */
.menu3
{
    @include menu3;

    a 
    {
        @include menu3;
    }

    h2 
    {
        font-weight: 300;
    }
}

/* Menu 4 */
.menu4
{
    @include menu4;

    a 
    {
        @include menu4;
    }

    h2 
    {
        font-weight: 300;
    }
}

/* aside */
aside
{
    @include aside;
    @include flex_column;
}

/* loading dots */
.loading
{
    @include aside_h2;
    span
    {
        display: inline-block;
        animation: dots 4s infinite ease-in-out;
        font-size: 2em;
    }

    .point2
    {
        animation-delay: 0.4s;
    }

    .point3
    {
        animation-delay: 0.8s;
    }
}

/* éléments généraux des pages supplémentaires */
.title
{
    border: none;
    box-shadow: none;
    width: auto;
    height: auto;
}

.carte
{
    margin: auto auto 30px auto;
    height: auto;
    width: 90%;
}

.subtitle1
{
    @include flex_center;
    width: 90%;
    margin: auto;
}

.subtitle2
{
    @include flex_center;
    margin: auto;
}

.bottom_title
{
    @include flex_center;

    span 
    {
        margin: auto 15px auto 0px;
        height: 35px;
        width: 35px;
    }
}

.dish
{
    @include flex_space_between;
    width: 90%;
    margin: auto;
}

/* décorations sous-titres menus */
.line_left1
{
    @include line_style1;
    margin: $line_margin_left;
}

.line_right1
{
    @include line_style1;
    margin: $line_margin_right;
}

.line_left2
{
    @include line_style2;
    margin: $line_margin_left;
}

.line_right2
{
    @include line_style2;
    margin: $line_margin_right;
}

/* éléments page 1 */
.page1
{
    @include menu1;
    padding: $padding_pages;

    h2
    {
        font-weight: 400;
    }

    .price
    {
        font-weight: bold;
    }

    .font1
    {
        font-family: $first_font;
    }
}

/* éléments page 2 */
.page2
{
    @include menu2;
    padding: $padding_pages;

    #color2
    {
        color: $second_menu2;
    }

    #color3
    {
        color: $second_menu3;
    }
}

/* éléments page 3 */
.page3
{
    @include menu3;
    padding: $padding_pages;

    h2
    {
        font-weight: 400;
    }

    .font_color_pages
    {
        color: $third_fouth_page;
    }
}

/* éléments page 4 */
.page4
{
    @include menu4;
    padding: $padding_pages;

    h2
    {
        font-weight: 400;
    }

    .font_color_pages
    {
        color: $third_fouth_page;
    }
}

/* page 5 */
.page5
{
    @include mentions;
    text-align: left;

    a 
    {
        color: $primary_color;    
        text-align: left;
    }
}
     
/* Dégradés couleur */
.degrade1
{
    background-image: linear-gradient(0.25turn, $second_menu 30%, $second_menu_degraded 70%);
    @include degraded($fourth_font);
}

.degrade2
{
    line-height: 70px;
    background-image: linear-gradient(0.25turn, $third_menu_degraded1 30%, $third_menu_degraded2 50%, $third_menu_degraded3 20%);
    @include degraded($fifth_font);
}

.degrade3
{
    background-image: linear-gradient(0.25turn, $fourth_menu_degraded1, $fourth_menu_degraded2);
    @include degraded($sixth_font);
}

/* Animations soulignage */
/* border généraux */
.border 
{
    display: inline;
    text-decoration: none;
    transition: $transition;

    &:hover
    {
        background-size: 100% 100%;
    }
}

/* border page 1 */
.border1 
{
    @include underline($first_menu, $first_note_color);
}

/* border page 2 */
/* border 1 */
.border2 
{
    @include underline($second_menu, $second_menu);
}

/* border 2 */
.border3 
{
    @include underline($second_menu2, $second_menu2);
}

/* border 3 */
.border4 
{
    @include underline($second_menu3, $second_menu3);
}

/* border page 3 */
.border5 
{
    @include underline($third_fouth_page, $third_menu_degraded1);
}

.border6
{
    @include underline($third_fouth_page, $third_menu_degraded2);
}

.border7
{
    @include underline($third_fouth_page, $third_menu_degraded3);
}

/* border page 4 */
.border8
{
    @include underline($third_fouth_page, $fourth_menu_degraded2);
}
  
/* responsive */
/* écrans moins de 720 px */
@media #{$small_screen}
{
    section
    {
        width: 260px;
        height: 330px;
    }

    .menu
    {
        @include flex_column;
        margin: auto;
    }

    .page
    {
        padding: 7px;

        h1 
        {
            font-size: 2em;
        }

        h2 
        {
            font-size: 1.3em;
        }

        .dish
        {
            @include flex_column;
        }
    }

    .line
    {
        width: 15%;
        height: 80%;
    }

    aside
    {
        margin-top: 30px;
    }

    footer
    {
        @include flex_sticky;
        font-size: 0.9em;
        padding-bottom: 12px;
    }
}

/* écrans de plus de 720 px et moins de 1024px */
@media #{$medium_screen}
{
        .line
    {
        width: 30%;
        height: 60%;
    }
        .page
    {
        padding: 30px;

        h2 
        {
            font-size: 1.5em;
        }
    }   

    footer
    {
        @include flex_sticky;
    }
}

/* format landscape */
@media #{$landscape}
{
    footer
    {
        @include footer;
        @include flex_space_between;
    }
}
