// font
$main_font: 'Montserrat', sans-serif;
$first_font: 'Devonshire', cursive;
$second_font: 'Kalam', cursive;
$third_font: 'Source Serif Pro', serif;
$fourth_font: 'Kurale', serif;
$fifth_font: "Dancing Script", cursive;
$sixth_font: 'Kaushan Script', cursive;

// colors
// backgrounds colors
$primary_color: #579c87;
$secondary_color: #ffffff;
$third_color: #fcdfdb;
$fouth_color: #fff5fe;
$fifth_color: #f9f9f9;
$sixt_color: #fdfffd;

// fonts colors
$logo_color: #fdcb46;
$first_menu: #3c1218;
$second_menu: #c77412;
$second_menu2: #a56799;
$second_menu3: #6e4ccc;
$third_menu: #2b91f8;
$fourth_menu: #72bf56;

// icon colors
$first_note_color: #f36d68;
$second_note_color: #f78f6a;

//animation
$shake-intensity: 5%;